* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom, rgb(71, 53, 71), rgb(114, 114, 188));
  color: white;
  font-family: "inter", sans-serif;
}
