* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(31, 31, 57));
  --primary-color: white;
  --border-ring: rgb(150, 150, 195);
}

body {
  height: 100vh;
  background: var(--base-background);
  color: var(--primary-color);
  font-family: "inter", sans-serif;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  font-size: 60px;
}

h3 {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 300;
}

/* styling clock display */
/* container */
.clock-container {
  position: absolute;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.4),
    rgba(128, 0, 128, 0.4)
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  padding: 40px 60px;
  width: 800px;
  text-align: center;
  border-radius: 50px;
  border: solid 1px var(--border-ring);
  box-shadow:
    0 0 20px rgba(0, 0, 255, 0.5),
    0 0 40px rgba(128, 0, 128, 0.4);
  transition: all 0.3s ease-in-out;
}

.clock span {
  text-align: center;
  display: inline-block;
  width: 60px;
}

#session {
  padding-left: 50px;
  font-size: 30px;
}

#theme-switch {
  position: absolute;
  border-radius: 50px;
  top: 0;
  right: 20px;
  padding: 8px;
  background-color: rgb(136, 136, 217);
  border: none;
}

#theme-switch img:first-child {
  display: none;
}

/* LIGHTMODE THEME */
/* disable sun icon when in lightmode */
.lightmode #theme-switch img:last-child {
  display: none;
}

/* enanble moon icon when in lightmode */
.lightmode #theme-switch img:first-child {
  display: block;
}

/* lightmode class */
.lightmode {
  --base-background: white;
  --primary-color: black;
  --border-ring: black;
}

/* animation */
@keyframes gradient-shadow {
  0% {
    box-shadow:
      0 0 50px rgba(0, 0, 255, 0.5),
      0 0 80px rgba(128, 0, 128, 0.4);
  }
  50% {
    box-shadow:
      0 0 20px rgba(147, 147, 241, 0.5),
      0 0 40px rgba(234, 57, 234, 0.4);
  }
  100% {
    box-shadow:
      0 0 50px rgba(0, 0, 255, 0.5),
      0 0 80px rgba(128, 0, 128, 0.4);
  }
}

/* apply shadow subtle animation around clock container */
.shadow {
  animation: gradient-shadow 10s infinite;
}
